<h3>Welcome {{name}}!</h3>
<h5>Here are your ideas!</h5>
{{#if ideas}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each ideas}}
        <tr>
            <td><a href="/ideas/{{id}}">{{title}}</a></td>
            <td>{{formatDate createdAt "MMMM Do YYYY, h:mm a"}}</td>
            <td><span clas="dash-status">{{status}}</span></td>
            <td>
                <a href="/ideas/edit/{{id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/ideas/delete/{{id}}" class="btn red">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any business ideas</p>
{{/if}}