<h3 class="userName">Welcome {{name}}!</h3>
<h5 class="">Here are your ideas!</h5>
{{#if ideas}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {{#each ideas}}
        <tr>
            <td><a class="title" href="/ideas/{{id}}">{{title}}</a></td>
            <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td><span class="dash-category">{{category}}</span></td>
            <td>
                <div class="edit-delete">
                <a href="/ideas/edit/{{id}}" class="teal darken-1 btn btn-float">
                    Edit <i class="far fa-edit"></i>
                </a>
                </div>
                <form action="/ideas/{{id}}" method="POST" id="delete-form">
                    <input type="hidden" name="method" value="DELETE">
                    <button type="submit" class="btn red">
                        Delete <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any business ideas</p>
{{/if}}