<div class="row">
    <div class="col s12 m8">
        <div class="card idea">
            <div class="card-content">
                <span class="card-title">
                    <h3>{{title}}</h3>
                    {{formatDate  date "MMMM Do YYYY, h:mm:ss a"}}
                </span>
                {{{idea.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{name}}</span>
                <img src="{{image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/ideas/user/{{userId}}" style="color:tomato">More ideas from {{firstName}}</a>
            </div>
            <div class="card-action">
                <a href="#" class="btn">Contact {{firstName}} <i class="far fa-envelope" style="color:white"></i></a>
            </div>
        </div>

    </div>
</div>