<h1 class="public-idea"><i class="red-text far fa-lightbulb"></i>Ideas</h1>
<div class="row">
    {{#if ideas}}
    {{#each ideas}}
    <div class="col s12 m4">
        <div class="team-card card">
            <div class="card-image">
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <h6>Category: {{category}}</h6>
                <br />
                <div class="chip">
                    <img src="{{image}}" alt="user image">
                    <a href="/ideas/user/{{userId}}">{{name}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/ideas/{{id}}" class="btn teal darken-1">Read More</a>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No stories to display</p>
    {{/if}}
</div>